.TopBar {
    display: flex;
    background-color: rgb(7, 7, 115);
    color: white;
    align-items: center;
    margin-bottom: 20px;

}

.FormBox {
    background-color: white;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.FormArea {
    width: 33%;
    padding: 15px;
    margin-bottom: 20px;
}